.about{
  width: 100%;
  height: 90vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.about-container h1{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 90px;
  height: 60px;
  font-weight: 50;
  color:black;
}
.about-container p{
  padding: 0;
  display: flex;
  font-size: 40px;
  font-weight: lighter;
  color: black;
  align-items: center;
}