.navbar{
  width: 100%;
  height: 120px;
  background-color: black;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.navbar .leftSide{
  display: flex;
  flex-direction: column;
  align-items: center;
  color:aliceblue;
}
.links {
  display: flex;
  gap: 80px;
  font-size: 20px;

}
.links a {
  text-decoration: none;
  color:aliceblue;
}
.logout{
  text-decoration: none;
  color: black;
  background-color: black;
  border-radius: 60px;
}
